.header-code-editor {
	box-sizing: border-box;
	position: fixed;
	top: 0;
	width: 1024px;
	padding: 10px;
	border-bottom: 2px dashed black;
}

.header-code-editor .a {
	display: block;
	float: left;
	width: 24px;
	height: 24px;
	margin-right: 30px;
}

.open {
	margin-right: 5px !important;
}

.back-icon {
	background: center no-repeat url("../images/back-icon.png");
	background-size: contain;
}

.open-icon {
	background: center no-repeat url("../images/open-icon.png");
	background-size: contain;
}

.save-icon {
	background: center no-repeat url("../images/save-icon.png");
	background-size: contain;
}

.play-icon {
	background: center no-repeat url("../images/start-level-icon.png");
	background-size: contain;
}

.version-shell {
	float: right;
	margin-top: 3px;
	font-size: 16px;
}

textarea[name = code-editor] {
	width: 1004px;
	height: 560px;
	margin-top: 57px;
	resize: none;
}
