/* HARDCODED - delete */

#get-simulation-result {
    margin-top: 60px;
    background-color: darkred;
}

.playback-content {
    display: none;
}

.log-content {
    width: 100% !important;
    padding-left: 0 !important;
}

/* HARDCODED - delete */

header, .content {
	display: none;
}

.active {
    display: block;
}

.active.header-code-editor {
    display: flow-root;
}

body {
    position: relative;
    min-width: 1040px;
    font: 18px Trebuchet MS, sans-serif;
	background: #d9c39c;
}

.a {
    color: black;
    text-decoration: underline;
}

.a:hover {
    cursor: pointer;
}

.a.inactive-link {
	color: gray;
}

tr.highlited-on-hover:hover {
    background: rgba(0, 0, 0, 0.1);
}

.a.highlited-on-hover:hover:not(.inactive-link) {
    color: darkgreen;
}

h1 {
	font-size: 32px;
}

.shell {
    position: relative;
    overflow: hidden;
    width: 1024px;
    margin: 0 auto;
    text-align: center;
}

.content {
    margin-bottom: 30px;
	padding-top: 30px;
}

.content-header {
	margin-bottom: 30px;
}

.common-table {
    width: 100%;
    margin-bottom: 30px;
    border: 1px solid black;
    border-collapse: collapse;
}

.common-table th, .common-table td {
    padding: 20px;
    border: 1px solid black;
}

.skeleton {
    display: none;
}

.circle-icon {
	border: 2px solid black;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}

.CodeMirror {
    clear: both;
    height: 660px !important;
    text-align: left;
}
