/* HARDCODED - delete */

#get-simulation-result {
    margin-top: 60px;
    background-color: darkred;
}

/* HARDCODED - delete */

html {
    height: 100%;
}

body {
    min-height: 100%;
}

header, .content {
	display: none;
}

.inactive {
    display: none;
}

.active {
    display: block;
}

.active.header-code-editor {
    display: flow-root;
}

body {
    position: relative;
    min-width: 1040px;
    font: 18px Trebuchet MS, sans-serif;
	background: #d9c39c;
}

.a {
    color: black;
    text-decoration: underline;
}

.a:hover {
    cursor: pointer;
}

.a.inactive-link {
	color: gray;
}

tr.highlited-on-hover:hover {
    background: rgba(0, 0, 0, 0.1);
}

.a.highlited-on-hover:hover:not(.inactive-link) {
    color: darkgreen;
}

.pointer {
    cursor: pointer;
}

h1 {
	font-size: 32px;
}

input[name="bugfix_for_form_data"] {
    display: none;
}

.shell {
    position: relative;
    overflow: hidden;
    width: 1024px;
    margin: 0 auto;
    text-align: center;
}

.content {
    margin-bottom: 30px;
	padding-top: 30px;
}

.content-header {
	margin-bottom: 30px;
}

.common-table {
    width: 100%;
    margin-bottom: 30px;
    border: 1px solid black;
    border-collapse: collapse;
}

.common-table th, .common-table td {
    padding: 20px;
    border: 1px solid black;
}

.skeleton {
    display: none;
}

.common-form {
    width: 200px;
    margin: auto;
}

.form-section {
    margin-top: 20px;
}

.form-section:last-of-type {
    margin-top: 30px;
}

.common-form label {
    display: block;
    margin: 0 0 5px 10px;
    text-align: left;
}

.common-form select, .common-form input:not([type="file"]) {
    box-sizing: border-box;
    width: 100%;
    height: 26px;
    font: 18px Trebuchet MS, sans-serif;
}

select.readonly, input.readonly {
    color: gray;
}

.circle-icon {
	border: 2px solid black;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}

.new-unit {
    display: inline-block;
    height: 70px;
    line-height: 70px;
    margin-bottom: 30px;
    cursor: pointer;
}

.new-unit-icon {
    display: inline-block;
    vertical-align: middle;
    width: 64px;
    height: 64px;
    margin-right: 10px;
    background: center no-repeat url("../images/plus-icon.png");
}

.new-unit a {
    display: inline-block;
    vertical-align: middle;
}

.common-table-icon {
    display: inline-block;
    vertical-align: middle;
    width: 32px;
    height: 32px;
    margin-right: 5px;
}

.level-icon {
    background-size: 32px 32px;
}

.avatar-icon, .level-icon {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.CodeMirror {
    clear: both;
    height: 660px !important;
    text-align: left;
}
